/* general text formatting */

h1,
h2,
h3,
nav,
footer {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
    font-family: "Lucida Sans", Verdana, Arial, sans-serif;
    font-size: 80%;
}

div#searchBox,
div#listBox,
div.successMsg,
div.errorMsg {
    margin: 0.25em auto;
    background-color: #EBF4FB;
    padding: 1em;
    border: 1pt solid #95BEF0;
    width: 80%;
    margin-top: 1em;
    overflow: hidden;
}

div#searchBox {
    /*    margin-top: 1em;*/
    /*    overflow: hidden;*/
}

div.successMsg {
    display: none;
    background-color: #e3ffb9;
    border: #e3ffb9 1pt solid;
}

div.errorMsg {
    display: none;
    background-color: #ffd1d1;
    border: 1pt solid #ffd1d1;
}

.close {
    float: right;
    line-height: 100%;
}

.fa-times:hover {
    cursor: pointer;
}

div#listBox {
    /*    margin-top: 1em;*/
    background-color: #FAFCFF;
}

table {
    border: collapse;
    border-spacing: 0;

}

table tbody td {
    border-top: 1pt solid #95BEF0;
    line-height: 1.5em;
    vertical-align: middle;
    padding: 0.5em 0.75em;
}

table thead th {
    text-align: left;
    padding: 0.25em 0.75em;
}

table thead {
    background-color: #EBF4FB;
}

table tbody td:first-child {
    text-align: center;
    padding: 0.5em 0em;
}

caption {
    background-color: #95BEF0;
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-size: 1.2em;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
}

#confirm {
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100px;
    background: #fff;
    border: 2px solid #95BEF0;
    margin: -102px 0 0 -202px;
    display: none;
}

.buttons {
    margin-right: 2em;
    text-align: right;
    margin-top: 2em;
}

button {
    margin-left: 1.5em;
    font-size: 1.2em;
}
